.goods {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid orange;
  list-style: none;
  &_product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(115, 115, 115);
    max-height: 35rem;
    max-width: 25rem;
    width: 100%;
    min-width: 15rem;
    margin-bottom: 1rem;
  }
  &_product_title {
    text-align: center;
  }
  &_product_image-wrapper {
    display: flex;
    align-items: center;
    width: 200px;
    height: 150px;
    background-color: #ffffff;
    overflow: hidden;
  }
}
