.goods {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid #0063b1;
  position: relative;
  &_filter {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #0077c0, #0063b1);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &_filter_select {
    color: white;
    background: linear-gradient(to bottom, #0077c0, #0063b1);
    border-radius: 1rem;
  }
  &_filter_search {
    background: linear-gradient(to bottom, #0077c0, #0063b1);
    outline: none;
    border: 1px solid #000;
    color: white;
    border-radius: 1rem;
    &::placeholder {
      color: white;
    }
  }
  &_filter_option {
    color: #000;
    cursor: pointer;
    background: rgba(#0063b1, 0.7);
  }
  &_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    padding: 1rem;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 1rem;
    margin-top: 4rem;
  }
  &_product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(#0063b1, 0.7);
    max-height: 45rem;
    max-width: 50rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
  }
  &_product_image {
    max-width: 30rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &_product_text {
    font-size: 2rem;
    line-height: 2.7rem;
    width: 100%;
    margin: 0;
    padding-left: 1rem;
  }
  &_product_title {
    text-align: center;
  }
  &_product_image-wrapper {
    display: flex;
    align-items: center;
    width: 90%;
    height: 15rem;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  &_btns_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_btn_size {
    color: white;
    background: linear-gradient(to bottom, #8ab9ce, #0063b1);
    width: 100%;
    width: 10rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    margin-right: 1rem;
    max-height: 4rem;
    height: 100%;
    &:hover {
      background: #71addc;
    }
  }
  &_product_button {
    color: white;
    background: linear-gradient(to bottom, #0077c0, #0063b1);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    transition: ease 0.5s;
    cursor: pointer;
    &:nth-of-type(1) {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    &:hover {
      background: #71addc;
    }
  }
  &_empty_text {
    font-size: 4rem;
    line-height: 7rem;
    font-weight: 700;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: #000;
  }
}

@media (max-width: 1100px) {
  .goods {
    &_list {
      grid-template-columns: repeat(2, 1fr);
    }
    &_btns_block {
      flex-direction: column;
    }
    &_filter_search {
      max-width: 15rem;
    }
    &_filter_select {
      max-width: 15rem;
    }
  }
}

@media (max-width: 780px) {
  .goods {
    &_list {
      grid-template-columns: repeat(1, 1fr);
    }
    &_filter {
      flex-direction: column;
    }
    &_filter_search {
      max-width: 100%;
      margin-bottom: 1rem;
      text-align: center;
    }
    &_filter_count {
      text-align: center;
    }
    &_filter_select {
      max-width: 100%;
      text-align: center;
    }
    &_btn_size {
      width: 100%;
      margin-bottom: 1rem;
      min-height: 4rem;
    }
  }
}
