.cart-page {
  width: 100%;
}

.cart {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &_products {
    flex-basis: 60%;
    padding: 10px;
    border: 1px solid #fff;
  }
  &_products-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.products-list {
  margin: 0;    
  padding: 10px;
  list-style: none;

  &_item {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #fff;
  }
  &_image {
    height: 100%;
  }
  &_details {
    flex-basis: 60%;
    border: 1px solid #fff;
  }
  &_details-wrapper {    
    display: flex;
    justify-content: space-between;
  }
  &_info {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fff;
  }
  &_controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.summary {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #fff;
}

.purchase {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;

  &_background {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 0.5;
  }

  &_form {
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
    width: 600px;
    height: 600px;
    background-color: rgb(37, 36, 35);
  }

  &_card-input {
    padding-left: 40px;    
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;

    &__default {
      background-image: url('../assets/icons/creditcards.png');
      background-position-x: 8px;
    }
    &__amex {
      background-image: url('../assets/icons/amex.png');
    }
    &__visa {
      background-image: url('../assets/icons/visa.png');
    }
    &__mastercard {
      background-image: url('../assets/icons/mastercard.png');
    }
  }
}