.breadcrumbs {
  margin: 0;
  padding: 5px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;

  &_item:not(:first-of-type)::before {
    content: '>';
    margin-right: 20px;
  }
}