.product-page {
  width: 100%;
}

.product {
  &_title {
    text-align:  start;
  }
  &_wrapper {
    display: flex;
    gap: 40px;
    justify-content: space-between;    
  }

  &_card-wrapper {
    flex-basis: 60%;
    display: flex;
    gap: 20px;
    padding: 10px;
    border: 1px solid #fff;
  }
  &_image-controls {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  &_details {
    display: flex;
    flex-direction: column;
  }
  &_purchase {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border: 1px solid #fff;
  }
}